<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{387,674},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{122,712},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{323,603},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{346,471},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{387,610},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{2,753},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{346,537},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{323,667},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{55,66}</string>
                <key>textureRect</key>
                <string>{{2,584},{55,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{70,584},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{124,543},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{196,543},{55,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,66}</string>
                <key>spriteSourceSize</key>
                <string>{49,66}</string>
                <key>textureRect</key>
                <string>{{140,368},{49,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{266,545},{55,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_block_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{255,668},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{191,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{123,646},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,687},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{257,602},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,666},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{272,471},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{412,536},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{272,471},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,666},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{257,602},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,687},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{123,646},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,120}</string>
                <key>spriteSourceSize</key>
                <string>{113,120}</string>
                <key>textureRect</key>
                <string>{{2,469},{113,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,136}</string>
                <key>spriteSourceSize</key>
                <string>{97,136}</string>
                <key>textureRect</key>
                <string>{{413,398},{97,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,138}</string>
                <key>spriteSourceSize</key>
                <string>{99,138}</string>
                <key>textureRect</key>
                <string>{{273,370},{99,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,136}</string>
                <key>spriteSourceSize</key>
                <string>{99,136}</string>
                <key>textureRect</key>
                <string>{{2,368},{99,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,130}</string>
                <key>textureRect</key>
                <string>{{140,436},{105,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,134}</string>
                <key>spriteSourceSize</key>
                <string>{145,134}</string>
                <key>textureRect</key>
                <string>{{273,234},{145,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,142}</string>
                <key>spriteSourceSize</key>
                <string>{187,142}</string>
                <key>textureRect</key>
                <string>{{2,224},{187,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,230}</string>
                <key>spriteSourceSize</key>
                <string>{211,230}</string>
                <key>textureRect</key>
                <string>{{287,2},{211,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,220}</string>
                <key>spriteSourceSize</key>
                <string>{283,220}</string>
                <key>textureRect</key>
                <string>{{2,2},{283,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,120}</string>
                <key>spriteSourceSize</key>
                <string>{113,120}</string>
                <key>textureRect</key>
                <string>{{2,469},{113,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magic001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{191,224},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{191,306},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{420,234},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{420,316},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{451,610},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{68,714},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{319,731},{48,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{2,641},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{123,600},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{191,388},{46,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{70,652},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blocks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46cb5ac1d7bac6ebfeb84842589903e5:3060f40410af88623c5ca98066e114af:6879c3dd6674ea1c839ff03f70487b56$</string>
            <key>textureFileName</key>
            <string>blocks.png</string>
        </dict>
    </dict>
</plist>
